<div class="innerbody">
    <div class="container p-5">
        <div class="inner-section border">
        <h2 class="common-header"> Container Master</h2>
        <form class="p-3">
            <div class="form-head">
                <div class="row">
                    <div class="col-md-6">
                        <div class="main">
  
                            <div class="form-group has-search m-1">
                              <span class="fa fa-search form-control-feedback"></span>
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                          </div>
                    </div>

                    <div class="col-md-6 text-right mob-left">
                        <button class="btn btn-primary m-1">Save</button>
                        <button class="btn btn-light m-1">Reset</button>
                        <button class="btn btn-light m-1">All Reset</button>
                    </div>
                </div>
                
            </div>
            <hr>
            <div class="form-inner mt-5 ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lease Type</label>
                            <input type="text" class="form-control" placeholder="Lease Type">
                            <small class="error d-none"></small>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vendor Code</label>
                            <input type="text" class="form-control" placeholder="Vendor Code">
                            <small class="error d-none"></small>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Depot</label>
                            <input type="text" class="form-control" placeholder="Depot">
                            <small class="error d-none"></small>
                          </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Billing Branch
                            </label>
                            <input type="text" class="form-control" placeholder="Billing Branch
                            ">
                            <small class="error d-none"></small>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vendor Code</label>
                            <div class="form-group">
                                <div class="input-group">
                                  <input class="form-control" placeholder="yyyy-mm-dd"
                                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                  </div>
                                </div>
                              </div>
                            <small class="error d-none"></small>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Depot</label>
                            <input type="text" class="form-control" placeholder="Depot">
                            <small class="error d-none"></small>
                          </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>




















