

<div class="container-fluid ">
    <div class="border ">
    <div class="page-head"> 
        <h2>Container Master</h2>
    </div>

    <div class="formarea">
        <form class="px-5">
            <div class="row ">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100 m-2">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix aria-hidden="false" aria-label="Example search icon">search</mat-icon>

                      </mat-form-field>
                </div>

                <div class="col-md-6 mob-left text-right pt-2">
                    
    <button mat-raised-button color="primary" class="m-2">Save</button>
    
    <button mat-raised-button color="disabled" class="m-2">Reset</button>
    
    <button mat-raised-button color="disabled" class="m-2">Reset All</button>
                </div>
            </div>

            <hr>

<div class="p-2">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Lease Type</mat-label>
                        <mat-select>
                            <mat-option>Option</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Vendor Code</mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Depot</mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                </div>

                <div class="col-md-4">
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Billing Branch
                        </mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                </div>

                <div class="col-md-4">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Valid From</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>

                
                <div class="col-md-4">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Valid To</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Agreement Status</mat-label>
                        <mat-select>
                            <mat-option>Option</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>

                
                <div class="col-md-4">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Payment Due Date</mat-label>
                        <input matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                </div>

                
                <div class="col-md-4">
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>BG No
                        </mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                </div>

                
                <div class="col-md-4">
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Bank Name
                        </mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                </div>

                
                <div class="col-md-4">
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>BG Amount
                        </mat-label>
                        <input matInput placeholder="Placeholder">
                      </mat-form-field>
                </div>

                <div class="col-md-4">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Validity Date</mat-label>
                        <input matInput [matDatepicker]="picker4">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4    ></mat-datepicker>
                      </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Remark</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </div>
            </div>
            </div>
        </form>


        <hr>


        <div class="table-data table-responsive">



                <div class="tableform">
            
            <div class="container-fluid">
  
                
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                  
                
                  <table class="table table-bordered" formArrayName="tableform">
                    <thead class="thead-light">
                    <tr>


                      <th scope="col">Container No	</th>
                        <th scope="col">Container Type	</th>
                        <th scope="col">Asset/SAP Code	</th>
                        <th scope="col">Size</th>

                        
                        <th scope="col">Unit	</th>
                        <th scope="col">Rate	</th>
                        <th scope="col">From Date		</th>
                        <th scope="col">To Date	</th>

                        
                        <th scope="col">Location	</th>
                        <th scope="col">Cooling Period		</th>
                        <th scope="col" class="text-center">
                        
                          <button mat-raised-button color="primary" aria-label="Example icon button with a add icon" class=" ml-auto" (click)="addnewtableform()">
                              Add Row 
                          </button>  
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let quantity of tableform().controls; let i=index" [formGroupName]="i">
                        
                        <td>
                          
                          <input type="text" formControlName="containerno" class="form-control" placeholder="Container No.">
                            
                            </td>

                              <td>

                                
                          <input type="text" formControlName="containertype" class="form-control" placeholder="Container Type">
                            
                              </td>

                              <td>
                                <input type="text" formControlName="assetsapcode" class="form-control" placeholder="Asset/SAP Code	">

                                </td>

                                  
                              <td>
                                  <select formControlName="size" class="form-control">
                                    <option>Option</option>
                                  </select>
                              </td>


                              
                              <td>

                                
                                <select formControlName="Unit" class="form-control">
                                  <option>Option</option>
                                </select>

                              </td>

                              
                              <td>
                                
                                <select formControlName="Rate" class="form-control">
                                  <option>Option</option>
                                </select>

                                </td>

                                  <td>
                                    <!-- <mat-form-field appearance="outline" class="w-100" formControlName="formdate">
                                        <mat-label>From Date</mat-label>
                                        <input matInput >
                                      </mat-form-field>  -->

                                      <input type="text" formControlName="formdate" class="form-control" placeholder="	">
                                      
                                  </td>


                                  
                                  <td>

                                      
                                    
                                <input type="text" formControlName="todate" class="form-control" placeholder="	">
                                  </td>

                                  <td>
                                

                                    
                                <input type="text" formControlName="location" class="form-control" placeholder="Location	">
    
                                    </td>
                                  

                                  
                              <td>
                                
                                <input type="text" formControlName="coolingperiod" class="form-control" placeholder="Cooling period	">
                                </td>

                                  <td class="
                                  text-center">
                                    <button type="button" class="btn btn-danger mx-auto" (click)="removenewtableform(i)">x</button>
                                      
                                  </td>
    
                     </tr>
                    </tbody>
                  </table>

                  
                 
                  
                </form>
                  
                
              </div>
            </div>

        



        </div>
    </div>
</div>
</div>




  